header {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: whitesmoke;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	font-size: xx-large;
}
body {
	background-color: grey;
	font-family: fantasy;
	font-size: large;
}
button {
	background-color: black;
	color: red;
}
P {
	color: darkred;
}
